.DS_Store
.dart_tool/

.packages
.pub/
.idea/

build/

.flutter-plugins
*.iml
*.lock
.vscode/launch.json
test_driver/screenshots/
/screenshots

linux/.generated_flutter_root
windows/Generated.props
lib/generated/i18n.dart
res/
