.DS_Store
.dart_tool/

.packages
.pub/
.idea/

build/

.flutter-plugins
*.iml
*.lock
.vscode/launch.json
test_driver/screenshots/
/screenshots

linux/.generated_flutter_root
windows/Generated.props
lib/generated/i18n.dart
res/

android/local.properties
/android/.gradle
ios/Flutter/Generated.xcconfig
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java
ios/Runner/GeneratedPluginRegistrant.m
ios/Runner/GeneratedPluginRegistrant.h
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
ios/Flutter/flutter_export_environment.sh
.flutter-plugins-dependencies
windows/window_configuration.cpp_copy
